%h2#about About me!
%p My name is Fabian, I am 26 years old living in Stockholm.
%p I am currently a student at Craft Academys bootcamp.
%p The goal of the bootcamp is to learn how to code in 12 weeks.
